@import url(theme.css);

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--md-sys-color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Saira Condensed;
  font-weight: normal;
  margin: 0;
}

span,
div,
p,
a {
  font-family: Roboto;
  font-weight: normal;
  margin: 0;
  line-height: 1.24;
}
