:root {
  --spacing-05: 4px;
  --spacing-10: 8px;
  --spacing-20: 16px;
  --spacing-30: 24px;
  --spacing-40: 32px;
  --spacing-50: 40px;
  --spacing-60: 48px;
  --spacing-70: 56px;
  --spacing-80: 64px;
  --spacing-90: 72px;
  --spacing-100: 80px;
}
