body {
  --color-primary: var(--color-primary-light);
  --color-on-primary: var(--color-on-primary-light);
  --color-background: var(--color-background-light);
  --color-on-background: var(--color-on-background-light);
  --color-background-media: var(--color-background-media-light);
  --color-on-background-media: var(--color-on-background-media-light);
  --color-surface: var(--color-surface-light);
  --color-on-surface: var(--color-on-surface-light);
  --color-gradient-1: var(--color-gradient-1-light);
  --color-gradient-2: var(--color-gradient-2-light);
  --color-gradient-3: var(--color-gradient-3-light);
}
