body.dark-mode {
  --color-primary: var(--color-primary-dark);
  --color-on-primary: var(--color-on-primary-dark);
  --color-background: var(--color-background-dark);
  --color-on-background: var(--color-on-background-dark);
  --color-background-media: var(--color-background-media-dark);
  --color-on-background-media: var(--color-on-background-media-dark);
  --color-surface: var(--color-surface-dark);
  --color-on-surface: var(--color-on-surface-dark);
  --color-gradient-1: var(--color-gradient-1-dark);
  --color-gradient-2: var(--color-gradient-2-dark);
  --color-gradient-3: var(--color-gradient-3-dark);
}
