:root {
  --color-primary-light: #724c9f;
  --color-on-primary-light: #ffffff;
  --color-background-light: #fffbff;
  --color-on-background-light: #1d1b1e;
  --color-background-media-light: rgba(54, 52, 56, 0.4);
  --color-on-background-media-light: #ffffff;
  --color-surface-light: #eeeeee;
  --color-on-surface-light: #1d1b1e;
  --color-gradient-1-light: #1f0040;
  --color-gradient-2-light: #312a97;
  --color-gradient-3-light: #724c9f;

  --color-primary-dark: #dab9ff;
  --color-on-primary-dark: #411b6d;
  --color-background-dark: #211f22;
  --color-on-background-dark: #ffffff;
  --color-background-media-dark: rgba(54, 52, 56, 0.4);
  --color-on-background-media-dark: #ffffff;
  --color-surface-dark: #363438;
  --color-on-surface-dark: #ffffff;
  --color-gradient-1-dark: #1f0040;
  --color-gradient-2-dark: #b990e5;
  --color-gradient-3-dark: #724c9f;
}
