:root {
  --md-sys-color-primary-light: #724c9f;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1d1b1e;
  --md-sys-color-surface-light: #eeeeee;
  --md-sys-color-on-surface-light: #1d1b1e;

  --md-sys-color-primary-dark: #dab9ff;
  --md-sys-color-on-primary-dark: #411b6d;
  --md-sys-color-background-dark: #211f22;
  --md-sys-color-on-background-dark: #ffffff;
  --md-sys-color-surface-dark: #363438;
  --md-sys-color-on-surface-dark: #ffffff;
}
