@font-face {
  font-family: 'Saira Condensed';
  src: url('../assets/fonts/Saira_Condensed/SairaCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Saira Condensed';
  src: url('../assets/fonts/Saira_Condensed/SairaCondensed-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Saira Condensed';
  src: url('../assets/fonts/Saira_Condensed/SairaCondensed-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Saira Condensed';
  src: url('../assets/fonts/Saira_Condensed/SairaCondensed-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
}
