.game-missions-title {
  margin-top: var(--spacing-80);
  margin-bottom: var(--spacing-40);
}

.game-missions-list {
  display: flex;
  gap: var(--spacing-30);
  flex-wrap: wrap;
  margin-top: var(--spacing-40);
}
