header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    90deg,
    var(--color-gradient-1) 0%,
    var(--color-gradient-2) 71%,
    var(--color-gradient-3) 100%
  );
  height: 64px;
}

header h1,
.navbar-button svg {
  color: var(--color-on-background-media);
}

@media screen and (max-width: 600px) {
  header {
    height: 56px;
  }
}

.navbar-button {
  padding: 0 16px;
}
