.root-page {
  display: flex;
  justify-content: center;
}

.root-container {
  margin-top: var(--spacing-80);
  margin-bottom: var(--spacing-50);
  max-width: 864px;
  width: 100%;
  padding: 0 var(--spacing-20);
}

@media screen and (max-width: 896px) {
  .root-container {
    max-width: 568px;
  }
}

@media screen and (max-width: 600px) {
  .root-container {
    margin-top: var(--spacing-70);
  }
}
